.login-wrapper {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.01rem;
    line-height: 1.5rem;
}

.help-button {
    margin: 0 auto;
    width: fit-content;
    margin-top: 1.5rem;
}

.title {
    font-size: xx-large;
    font-weight: 800;
}
