.container{
    padding: 60px;
    position: relative;
}
.foodCard{
    text-align: center;
    text-decoration: solid;
}
.mainCard{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 2 1 auto;
    padding: 10px;
}
.goingBtn{
    align-self: stretch;
}

