.container{
    display: grid;
    overflow: hidden;
    padding: 50px;
    padding-right: 50px;
}
.header{
    margin-bottom: 5px;
    padding: 10px;
}

.card{
    color: black;
    display: grid;
    padding: 5px;
    overflow: hidden;
    grid-auto-columns: 1fr 2fr;
    justify-items: center;
    grid-auto-flow: column;
    /* gap:5px;
    flex-grow: 1;
    flex-direction: row; */
    width: 100% !important;
}
.wordContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

}
.btnGroup{
    margin-top: auto;
    display: flex;
}