.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top-button.visible {
  display: block;
}

.scroll-to-top-button:hover {
  opacity: 0.8;
}
